.btn
	float right

.panel
	position relative

.change-form
	width 158px
	position absolute
	top 2px
	right 105px
	z-index 1
	.close
		position absolute
		z-index 2
		top 0
		right 0

.add-person
	input, .input-group
		width 100%