.list
	.media(ng-repeat="v in newsList" ng-if="v")
		.media-left
			a(href="{{v.URL_NAME}}")
				img(src="./news.svg", alt="{{v.PREVIEW_PIC}}")
		.media-body
			h4.media-heading 
				a(href="{{v.URL_NAME}}") {{v.NAME}}
			p {{v.PREVIEW_TEXT}}
nav
	ul.pagination
		li(ng-repeat="page in paginationList" ng-click="showPage(page.link)" ng-class="{'active': currentPageNum() == page.link}")
			a(ng-bind-html="page.name")
